#softai2 { 
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 999;
    width: 100%; 
    -moz-transition: all 0.5s ease-in-out; 
    -webkit-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out; 
}

#softai {
    position: fixed;
    top: 0;
    min-height: 35px; 
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1); 
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

#softai2 *{transition: all 0s ease-in-out; -webkit-transform: translate3d(0,0,0);
-moz-transform: translate3d(0,0,0);
-ms-transform: translate3d(0,0,0);
-o-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);}

#softai2{
    transition-property(width);
    transition-duration(500ms);
    transition-timing-function(ease);
    width: 700px;
}

#softai{
    width: 800px;
}